<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Presentation</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/styles.8051320e2eb3ae800f35.css">
</head>
<body>
    @RenderBody()
    <script src="~/Content/runtime.a66f828dca56eeb90e02.js"></script>
    <script src="~/Content/polyfills.7fb637d055581aa28d51.js"></script>
    <script src="~/Content/main.d123d7dd5882966f14e9.js"></script>
</body>
</html>
